@import "tailwindcss";

@theme {
  /* 1. Mapear as variáveis CSS para Classes do Tailwind */
  /* Isso cria classes como bg-background, text-primary, etc. */

  /* Cor para a bolha de mensagem recebida(Chat)*/
  --color-chat-bubble: #1e293b;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);
  --color-input: var(--input);

  --radius-custom: var(--radius);

  /* 2. Mapear as Fontes */
  /* Isso cria a classe font-poppins e font-futura automaticamente */
  --font-poppins: var(--font-poppins), sans-serif;
  --font-futura: var(--font-orbitron), sans-serif;
}

/* 3. Definir os valores das variáveis CSS */
:root {
  --primary: #d73cbe;
  --primary-foreground: #ffffff;

  --background: #020617;
  --foreground: #f8fafc;

  --card: #0f172a;
  --card-foreground: #f8fafc;

  --border: #1e293b;
  --input: #1e293b;

  --radius: 0.75rem;
}

/* 4. Estilos Globais */
body {
  background-color: var(--background);
  color: var(--foreground);
  /* Agora você pode usar a classe do tema ou a variável direta */
  font-family: var(--font-poppins);
}
